<form action="/return_query">
    <table>
        <tr>
            <thead>
                Rutvik Jaiswal Form
            </thead>
        </tr>
        <tr>
            <td>
                <label for="first_name" placeholder='Ex. Rutvik'>Enter First Name : </label>
                <input type="text" name="first_name" id="fist">
            </td>
        </tr>
        <tr>
            <td>
                <label for="last_name" placeholder='Ex. Jaiswal'>Enter Last Name : </label>
                <input type="text" name="last_name" id="lst">
            </td>
        </tr>
        <tr>
            <td>
                <label for="College" placeholder='Ex. AISSMS'>Enter College Name : </label>
                <input type="text" name="College" id="clg">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="submit">
            </td>
        </tr>
    </table>
</form>